<template name="entradaTemplate">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
              <div class="row">
                <div class="col-xs-12">
                  <p> Publicado :{{createdAt}}</p>
                </div>
                    <h3>{{title}}</h3>

              </div>
            </div>
            <div class="hidden-xs hidden-sm hidden-md col-lg-4">
            </div>
        </div>
    </div>
</template>
